<h2 id = 'page-title'>Products</h2>

<div class="container-fluid">
    <div class="row">

    <div class="col-xs-12 col-md-3">
        <div class='product-box cut'>
            <div class = 'product-title'>
                <a href="/products/01">Bowser</a>
            </div>
            <img class="img-fluid jump" src="/assets/6041697-a-turtle-that-walks.jpg" />
            <p> Description: very wise turtle</p>
            <p> Color: </p>
            <p> Price: $100,000</p>
        </div>
    </div>

    <div class="col-xs-12 col-md-3">
        <div class='product-box cut'>
            <div class = 'product-title'>
                <a href="/products/02">Ralphie</a>
            </div>
            <img class="img-fluid jump" src="/assets/ralph.jpg" />
            <p> Description: Loves pizza </p>
            <p> Color: </p>
            <p> Price: $200,000</p>
        </div>
    </div>

    <div class="col-xs-12 col-md-3">
        <div class='product-box cut'>
            <div class = 'product-title'>
                <a href="/products/03">lighting</a>
            </div>
            <img class="img-fluid jump" src="/assets/178369516-612x612.jpg" />
            <p> Description: looks up to everyone</p>
            <p> Color: green</p>
            <p> Price: $ 140,000</p>
        </div>
    </div>


    </div>
</div>
