// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  font: italic bold 12px/30px Georgia, serif;color: blue;
}

.table >div{
    height: 500px;
    width: 100%;
}

.myimages{
padding: 15px;
}
