<div class="border border-white col-sm-3">
    <div class="myimages">
      <%= image_tag( product.image_url, class: "image-fluid") if product.image_url %>
    </div>
    <h1><%= link_to product.name, product %></h1>
    <div>
      <hr>
      <%= product.description %>
    </hr>
    <strong>$ <%= product.price %></strong>
  </div><!-- /col -->
</div>
