<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description:</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <div class="container fluid">
      <div class= "row  d-flex justify-content-around">
        <% @products.each do |p| %>
        <div class="border border-white col-sm-3">
          <%= image_tag("6041697-a-turtle-that-walks", class: "img-fluid") %>
          <a href="product1"><h2></h2></a>
          <p>Always gets into trouble</p>
          <p>Colour:Green</p>
          <strong>$ 280</strong>
        </div><!-- /col --><!-- /col -->
        <% end %>


      </div>
    </div>

  </tbody>


<br>

<%= link_to 'New Product', new_product_path %>
