<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description:</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<div class="container fluid">
  <div class= "row  d-flex justify-content-around">
    <% @products.each do |product| %>
    <div class="border border-white col-sm-3">
        <a href=""><h2>Bike 1</h2></a>
        <p>nice smile</p>
        <strong>$ 280</strong>
    </div><!-- /col -->
    <div class="border border-white col-sm-3">
        <a href=""><h2>Bike 2</h2></a>
        <p>Pretty cool bike</p>
        <strong>$ 420</strong>
    </div><!-- /col -->
    <div class="border border-white col-sm-3 ">
        <a href=""><h2>Bike 3</h2></a>
        <p>my favorite</p>
        <strong>$ 370</strong>
    </div><!-- /col -->
    <% end %>
  </div>
</div>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
